# The MariaDB server (slave)
[mysqld]
innodb_file_per_table = ON
sql_mode = NO_ENGINE_SUBSTITUTION
max_allowed_packet = 67108864
expire_logs_days = 7
#log-error = /var/log/mysql/mysqld.log
log-bin = mysql-bin
binlog_format = mixed
relay-log = relay-bin
server-id = 2
skip-host-cache
skip-name-resolve
read-only
